# Base ----------------------------------------
ultralytics==8.0.196
numpy>=1.18.5
opencv-python>=4.1.1
Pillow>=7.1.2

# Plotting ------------------------------------
pandas>=1.1.4
seaborn>=0.11.0
matplotlib>=3.2.2

# Extras --------------------------------------
IPython